/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7.9.2017, 3:46:26
    Author     : esa
*/

ul.nav.div {
    white-space: nowrap;
    overflow-x: auto;
    background-color: black;
}

ul.nav.div li {
    display: inline-block;
    float: none;
}

body {
    background-image: url("/img/harjukatu.jpg");
    background-size: cover;
}

h1, h2, h3, label {
    color: black;
    text-shadow: 2px 1px gray;
}

table.BGC {
    background-color: #FFFFFF;
}

p.help-block {
    color: green;
}

div.harjukatu {
    background-color: #f2f2f2;
}