                    
<table class="table BGC">
    <tr>
        <td><h3>Do list:</h3></td>
    </tr>
</table>
            
                    
<table class="table BGC">
    <tr ng-repeat="post in posts">
        <td><img src="{{ post.banner }}" alt="" height="42" width="45"></td>
        <td>{{ post.title }}</td>
        <td>
            <a href="{{ post.url }}" target="_blank">{{ post.description }}</a>
        </td>
        <td>
            <span class="glyphicon glyphicon-ok"></span>
        </td>
    </tr>
</table>

<h3>To Do:</h3>
                    
<table class="table BGC">
    <tr ng-repeat="post in addedposts">
        <td><img src="{{ post.banner }}" alt="" height="42" width="45" /></td>
        <td>{{ post.title }}</td>
        <td><a href="{{ post.url }}" target="_blank">{{ post.description }}</a></td>
        <td><button type="button" class="btn btn-primary" ng-click="removeItem( post.id )">Remove</button></td>
    </tr>
</table>
